<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ahn.spring.test.mybatis.dao.EstateDAO">
	<select id="selectEstate" resultType="com.ahn.spring.test.mybatis.model.Estate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="selectRentPrice" resultType="com.ahn.spring.test.mybatis.model.Estate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` <![CDATA[<]]> #{rentPrice}
	</select>

	<select id="selectAreaPrice" resultType="com.ahn.spring.test.mybatis.model.Estate">
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`area` <![CDATA[>=]]> #{area} AND `price` <![CDATA[<=]]> #{price}
		ORDER BY `createdAt` DESC
	</select>

</mapper>